html,body{
    width: 100vw;
    height: 100vh;
}

.container {
    width: 50%;
    height: 50%;
    border: 3px solid black;
    position: relative;
    overflow: auto;
    
    background-color: blue;
}

.box-1{
    width: 70px;
    height: 25px;
    background-color: darkgoldenrod;
    position: static;
}

.box-2{
    width: 70px;
    height: 25px;
    background-color: darkgoldenrod;
    position: absolute;
    bottom:0px;
    left:0px;
}

.box-3{
    width: 70px;
    height: 25px;
    background-color: darkgoldenrod;
    position: absolute;
    top: 0px;
    right:0px;
}

.box-4{
    width: 70px;
    height: 25px;
    background-color: darkgoldenrod;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.box-5{
    width: 70px;
    height: 25px;
    background-color: darkgoldenrod;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    right: 0
}





