html,body {
    width: 95vw;
    height: 90vh;
}

main {
    width: 100%;
    height: 80%;
}

nav {
    width: 100%;
    height: 35px;
}

.nav1 {
    display: flex;
    /* background-color: aqua;
    border: 1px solid black;*/
    margin-top: 10px;
    justify-content:flex-end;
    align-items: center;
    gap: 20px;
}

a {
    text-decoration: none;

}

.nav-img {
    width: 20px;
    height: 20px;
    align-items: center
}

.btn-sgn {
    width: 80px;
    height: 35px;
    color: black;
    font-size: medium;
    background-color: #8ab4f8;
    border: none;
    border-radius: 5px;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.img2 {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content:center;
    align-items: start;
}

.srch {
    width: 600px;
    display: flex;
    font-size: medium;
    justify-content: space-around;
    align-items: center;
     border:1px solid black;
    border-radius: 25px;
}

.in-srch {
     
    width: 600px;
    height: 40px;
     border:none; 
    font-size: large;
}
.srch-logo
{
   width: 20px;
    height: 20px;
    margin: auto;
    padding-left: 10px;
    
}
.mic-lens{
    display: flex;
    margin: auto;
     gap: 10px;
     padding-right: 10px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 16px;

}

.info-box {
    width: 150px;
    height: 30px;
    /* border: none; */
}

.info2 {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-top: 5pxpx;
}
.utube{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 10px;
}
.img3{
    
    display: flex;
    gap: 15px;

}

.img4 {
    width: 50px;
    height: 50px;
    margin-top: 5px;
}

.list{
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style-type: none;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
footer{
    width: 100%;
    height: 10%;
   background-color:#f2f2f2;
   position:fixed;
   bottom:0;


}
.ftr-1{
    height: 50%;
      border-bottom: 1px solid white;
   padding-left: 40px;
    display:flex;
    align-items: center;
}
.ftr-2{
    height: 50%;
   display: flex;
    justify-content: space-between;
    align-items: center;
}
.ftr-list1{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content:space-between
}
.ftr1{
    width: 60%;
    display: flex;
    list-style-type:none;
    align-items: center;
   /* justify-content: space-between;*/
    gap: 20px;
}
.ftr-list2{
    width: 40%;
    display: flex;
    justify-content:right;
    padding-right: 20px;
}
.ftr2{
    width: 40%;
    display: flex;
    list-style-type:none;
    justify-content:space-between;
    align-items:center
}
 